.form {
	display: flex;
	gap: 1rem;
	justify-content: space-evenly;
	max-width: 800px;
	margin: 0 auto;

	border: 2px solid currentColor;

	text-align: center;
	font-size: 2rem;
}

.form > input {
	accent-color: var(--accent);
	font-size: 1.5rem;
	padding: 0.5rem;
	padding: 0.5rem;
}

.form > input[type="text"] {
	width: 100%;
}
