.form {
	display: flex;
	gap: 1rem;
	justify-content: space-evenly;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 2rem;

	text-align: center;
	font-size: 2rem;
	/* For the Blinking Solid Cursor */
	position: relative;
}

.form > input {
	appearance: none;
	border: none;

	color: var(--primary);
	accent-color: var(--primary);
	caret-shape: block;
	caret-color: currentColor;
	font-size: 1.3rem;
	padding: 0.5rem;

	line-height: 1.5;
	background-color: var(--bg-color);
	background-clip: padding-box;
	border: 0.2rem solid #55de5c;
}

.form > input:focus {
	box-shadow: 0 0 15px 0.2em rgba(64, 218, 72, 0.25);
}

.form > input[type="text"] {
	width: 100%;
	outline: none;
}

.cursor {
	position: absolute;
	top: -0.3rem;
	left: calc(var(--offset) * 1rem);
	color: var(--primary);
	width: 1rem;
	height: 1rem;
	z-index: 100;
	opacity: 1;
	animation: blink 1s infinite;
}

/* we dont want it to move gradually, we want to have to toggle */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
